.btn-edit {
    /* margin: 20px; */
    margin-bottom: 2px;
    padding: 10px;
    border-radius: 5px;
    background-color: #A020F0;
    cursor: pointer;
    width: auto;
    transition: 0.75s;
    font-weight: 600;
    vertical-align:middle;
}

.btn-edit i {
    vertical-align:middle;
    margin-right: 3px;
}

.btn-edit:hover {
    background-color: #7b1db6;
}